.navbar{
    background-color:#212121 !important;
    padding:16px 0px !important;
    margin-top:0px;
    box-shadow: -5px 0px  10px black;
    margin-bottom:16px;
}

.navbar-brand {
    color:#BDBDBD !important;
    margin-left:16px;
    margin-right:0px;
    font-family:sans-serif;
}

.navbar-elements{
    color:#BDBDBD !important;
    font-family:sans-serif;
    margin-right:16px;
    border:solid #BDBDBD 2px;
    padding:16px;
    border-radius:5%;
}

a.navbar-elements:hover{
    text-decoration:none !important;
    color: aqua !important;
}

.navbar-right{
    display:inline !important;
}

body{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.myform{
    background-color:#212121;
    font-family:sans-serif;
    color: #BDBDBD;
    position:static;
    margin-top:27%;
    border-radius:20px;
    box-shadow: -2px 1px 20px 0px black;
    padding:36px;
}

.myform img{
    position:absolute;
    left:0px;
    transform:translate(-40px,-80px);
    border-radius:100%;
    box-shadow: -5px 0px  10px black;
    width:20%;
    height:12%;
}

.form-control{
    background-color:#E0E0E0 !important;
}

.myform button{
    position: absolute;
    transform:translate(400%,0);
}

footer{
    position:static;
    margin-top:16px;
    padding-bottom:16px;
    color:#BDBDBD;
    background-color:black;
    opacity:0.7;
}

